footer {
    position: relative;
}

section {
    height: 200px;
}

nav {
    position: fixed !important;
    width: 100vw;
    z-index: 10000;
    padding: 10px 10px !important;
}

nav .active {
    border-bottom: 2px solid white;
}

.backgroundImage {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center 10px;
    background-size: cover;
    z-index: -1;
    filter: blur(0px);
    margin-left: -10px;
}

.logo {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 80px;
    height: 40px;
    cursor: pointer;
    margin-right: 10px;
}

.home-main {
    height: 900px;
}

.home-main .container {
    height: 300px;
    transform: translateY(250px);
}

.home-main h1 {
    font-size: 80px;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(0,0,0,.8);
}

.home-main .head2{
    animation-play-state: running;
    animation-delay: 1500ms;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
    animation-name: homeLoad2;
    animation-timing-function: ease-in-out;
    opacity: 0;
    background: rgba(2,148,0,.4);
    transform: skew(-20deg);
}

.home-main h2 {
    font-size: 40px;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(0,0,0,.8);
    transform: skew(20deg);
}

.home-main button {
    width: 250px;
    height: 70px;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0px 5px 5px rgba(0,0,0,.2);
    margin-top: 40px;
    opacity: 0;
    transition: transform .8s;
}

.home-main button:hover {
    transform: scale(1.1);
}

.home-main .btn-success {
    background: rgb(2,148,0);
    border-color: rgb(2,148,0);
}

.home-main .btn-success:hover {
    background: rgb(0,118,0);
    border-color: rgb(0,118,0);
}

.home-main .container {
    animation-name: homeLoad;
    animation-duration: 1500ms;
    animation-play-state: running;
    animation-fill-mode: forwards;
}

.home-main button {
    animation-name: buttonLoad;
    animation-duration: 1500ms;
    animation-delay: 1500ms;
    animation-play-state: running;
    animation-fill-mode: forwards;
}

.home-main .btn2:hover {
    background: gray;
}

.home-about {
    background: #ffffff;
    height: 700px;
    color: #333;
}

.home-about .profile-pic {
    width: 300px;
    height: 300px;
    background: #000;
    border-radius: 50%;
    transform: translateY(100px);
}

.home-about .container {
    transform: translateY(110px);
}

.home-skills {
    height: 400px;
    background: #333;
}

.home-skills h2 {
    color: white;
    font-size: 45px;
    margin-bottom: 0;
}

.home-skills .col-md{
    height: 200px;
    margin: 50px 30px;
    background: white;
    box-shadow: 0px 5px 10px rgba(0,0,0,.3);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    overflow: hidden;
    cursor: pointer;
}

.innerCard {
    transform: scale(1);
    transition: transform .5s;
    transition-timing-function: ease-out;
}

.innerCard img {
    padding: 10px;
}

.innerCard:hover {
    transform: scale(1.25);
}

.innerCard h1 {
    font-weight: bold;
}

.home-skills .more {
    color: rgb(2,148,0);
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 3px 2px rgba(0,0,0,0.2);
}

.home-skills .arrow {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100px;
    height: 40px;
    margin: 10px;
    transition: transform 1s;
}

.col-md:hover .arrow{
    transform: scale(1.4);
}

.home-projects {
    height: 90vh;
    background: #333;
    color: white;
}

.project-preview {
    background: #ffffff;
    height: 500px;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, .3);
    border-radius: 2px;
    padding: 0;
    cursor: pointer;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.home-projects .container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.home-projects p, .home-projects ul {
    list-style: none;
    font-size: 20px;
    margin: 30px 20px;
}

.home-projects li::before {
    color: rgb(2,148,0);
    content: "\2022";
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.home-projects .text-stripe {
    text-transform: uppercase;
    background: rgba(2,148,0,.6);
    text-align: center;
    width: 100%;
    transform: translateY(131px);
}

.home-contact {
    height: 800px;
}

.home-contact .container {
    overflow: hidden;
    margin-top: 75px;
    background: whitesmoke;
    height: 650px;
    width: 90%;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, .3);
    border-radius: 3px;
}

.home-contact .col-md {
    height: 100%;
}

.home-contact img {
    width: 100%;
    height: 50px;
}

.home-contact .col-md-6, .home-contact .col-md-12 {
    cursor: pointer;
    padding: 50px 10px;
}

.home-contact .col-md-6 div, .home-contact .col-md-12 div {
    background-repeat: no-repeat;
    background-size: 100%;
    width: 200px;
    height: 117px;
    background-position: center;
}

.parallax {
    background: no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 400px;
}

.parallax-text {
    font-weight: bold;
    color: white;
    font-size: 80px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0 2px 5px #000;
    width: 100%;
    transform: translateY(150px);
    display: block;"
}

footer a {
    color: white;
}

footer a:hover {
    color: lightgray;
}

@keyframes homeLoad {
    from {
        transform: translateY(-80px);
    }
    to {
        transform: translateY(250px);
    }
}

@keyframes buttonLoad {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes homeLoad2 {
    from {
        transform: translateX(-250px) skew(-20deg);
        opacity: 0;
    }
    to {
        transform: translateX(00px) skew(-20deg);
        opacity: 1;
    }
}

