section {
    height: auto;
    min-height: 850px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.st {
    color: rgb(2,148,0);
    margin: 10px 0px;
}

section .nav-link:hover {
    color: #333;
}

section .nav-link:active {
    background: rgb(2, 148, 0);
    color: white;
}

section .nav .active {
    background: rgb(2, 148, 0) !important;
    color: white !important;
}

.tab-content {
    height: 450px;
}

.backButton {
    margin: 20px 0px;
    font-weight: bold;
}

/* For Entry Lists */
.entry-container {
    height: 700px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.entry {
    margin: 30px 15px;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,.4);
    height: 200px;
    cursor: pointer;
    overflow: hidden;
}

.entry-container .entry:first-child {
    margin-top: 0px;
}

.entry:hover {
    box-shadow: 2px 2px 5px rgba(2,148,0,.4);
}

.entry:hover .title {
    color: rgb(2, 148, 0);
}

.title {
    margin-top: 10px;
}

.preview-img {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 0px 4px 3px rgba(0,0,0,.3);
}

.languages i {
    color: rgb(2, 148, 0) !important;
    margin-left: 15px;
}

/* Single Project Page */
.singleProject .col-md-5 {
    border-left: 1px solid rgba(0,0,0,.2);
}

.singleProject .col-md-7 {
    padding-left: 25px;
}

.singleProject h2 {
    margin: 20px;
}

.singleProject .languages i:first-child {
    margin-left: 0px;
}

.singleProject .col-md-7 div, .singleProject .col-md-7 video, .singleProject .col-md-7 h5 {
    margin: 10px 0px;
}

.linkHead {
    margin: 10px 0px;
}

.mediaImg {
    width: 95%;
    margin: auto;
    height: 300px;
    background: center center no-repeat;
    background-size: cover !important;
    box-shadow: 3px 3px 5px rgba(0,0,0,.3);
    border: 1px solid rgba(0,0,0,.3);
}

.mediaVid {
    width: 95%;
    margin: auto;
    height: 300px;
    box-shadow: 3px 3px 5px rgba(0,0,0,.3);
    border: 1px solid rgba(0,0,0,.3);
}

.mainImg {
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgba(0,0,0,.5);
    width: 98%;
    margin: 0px auto 15px auto;
    height: 250px;
    background-size: contain !important;
    background: center center no-repeat;
}

.mediaDump {
    margin-top: 40px !important;
}

.dateComplete:before {
    content: 'Date Finished: ';
    font-weight: bold;
}

.dateBegan:before {
    content: 'Date Started: ';
    font-weight: bold;
}

@media only screen and (max-width: 575px) {
    section {
        min-height: 1260px;
    }

    .entry {
        height: 500px;
    }

    .nav-pills {
        border-bottom: 2px solid rgba(2,148,0,.5);
        margin-bottom: 20px;
    }

    .singleReversal {
        flex-direction: column-reverse !important;
    }

    .shortDesc {
        margin-top: 40px !important;
    }
}

@media only screen and (max-width: 767px) {
    .entry {
        height: 500px;
    }
}
